@import "../../assets/variables/colors.scss";

.header {
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid $border-dark;

  .dark-btn {
    min-width: 36px !important;
    width: 36px !important;
    height: 36px !important;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 0 40px;
  }
}
