@import "../../assets/variables/colors.scss";

.header {
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid $border-dark;
}

@media (min-width: 992px) {
  .header {
    padding: 0 40px;
  }
}
