@import "../../assets/variables/fonts.scss";
@import "../../assets/variables/colors.scss";

.vault-container {
  max-width: 1140px;
  padding: 20px 8px;
  margin: 0 auto;

  .vault-header {
    .dark-btn, .blue-btn {
      min-width: 30px;
      height: 28px;
    }
  }

  .tabs {
    border-bottom: 1px solid $border-dark;

    li {
      position: relative;
      padding: 10px 16px;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        border-radius: 1px 1px 0 0;
        background-color: $blue;
        transform: translateX(-50%);
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &.active {
        border-color: $blue;
      }
    }
  }
}

@media (min-width: 992px) {
  .vault-container {
    .vault-header {
      .dark-btn, .blue-btn {
        min-width: 60px;
        height: 36px;
      }
    }
  }
}