@import "../../assets/variables/fonts.scss";
@import "../../assets/variables/colors.scss";

@media (max-width: 991px) {
  .mid-container {
    .create-btn {
      min-width: 36px;
      width: 36px;
      height: 36px;
    }
  }
}

.squad-box {
  padding: 15px 22px 15px 16px;
  border: 2px solid $border-dark;
  border-radius: 24px;
  background-color: $modal-dark;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border-color: $blue;
    background-color: $hover-blue;
  }

  .right {
    width: 220px;
  }
}
