@import "../../../assets/variables/fonts.scss";
@import "../../../assets/variables/colors.scss";

.asset-box {
  padding: 16px 24px;
  border: 1px solid $border-dark;
  border-radius: 24px;
  background-color: $modal-dark;

  .bottom-border {
    border-bottom: 1px solid $border-dark;
  }

  .dark-btn {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }

  .big-btn {
    min-width: 48px;
    width: 48px;
    height: 48px;
  }

  .address-box {
    background-color: $btn-dark;
    border-radius: 12px;
    padding: 8px 12px;

    p {
      font-size: 10px;
      line-height: 12px;
    }

    .secondary-title {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.swap-box {
  min-width: 350px;
  min-height: 350px;
}
