@import "../../assets/variables/fonts.scss";
@import "../../assets/variables/colors.scss";

.header-menu {
  .MuiMenu-paper {
    min-width: 186px;
    margin-top: 16px;
    padding: 8px 0;
    border: 1px solid $border-dark;
    border-radius: 24px;
    color: $white;
    background-color: $btn-dark;
  }

  .MuiMenuItem-root {
    height: 36px;
    padding: 6px 27px;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .menu-icon {
    width: 18px;
    height: auto;
    fill: $white;
    margin-right: 12px;
  }
}
