@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./assets/variables/fonts.scss";
@import "./assets/variables/colors.scss";

body {
  min-height: 100vh;
  margin: 0;
  font-family: $mainFont;
  color: $white;
  background-color: $bg-dark;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
  }
}

.blue-btn,
.dark-btn {
  border-radius: 12px !important;
  text-transform: none !important;
  font-family: $mainFont !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: $white !important;
}

.dark-btn {
  background-color: $btn-dark !important;
}

.blue-btn {
  background-color: $blue !important;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  border: 2px solid $blue;
  border-radius: 12px;
  background-color: $hover-blue;
}

.primary-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
}

.secondary-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.detail-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(224, 224, 255, 0.8);
}

.mid-container {
  max-width: 856px;
  width: 100%;
  margin: 28px auto;
  padding: 0 8px;

  .primary-title {
    margin-left: 9px;
  }
}

.avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  // background-image: url();
  background-color: lightseagreen;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.squad-input {
  .input-group-text {
    height: 40px;
    margin-top: 2px;
    margin-right: -2px;
    padding-left: 16px;
    padding-right: 10px;
    border-color: transparent;
    border-radius: 12px;
    background-color: $input-dark;
  }

  .form-control {
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 12px;
    color: white;
    background-color: $input-dark;
    transition: 0.3s;

    &:hover {
      background-color: #37393f;
    }

    &:focus {
      box-shadow: none;
      border: 2px solid $blue;
    }
  }

  label {
    padding-left: 16px;
  }

  .invalid-feedback {
    position: absolute;
    left: 18px;
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
  }
}

.round-icon {
  border-radius: 50%;
}

.text-dummy {
  color: $dummy-dark;
}

@media (min-width: 992px) {
  .primary-title {
    font-size: 30px;
    line-height: 36px;
  }
}
